<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <p>My name is Dhiresh, I grew up in London, United Kingdom and I love technology. I am always trying to find new ways to impress teachers at school with technology. I love going to hackathons and technology events.</p>
                </div>
            </div>
        </div>
    </section>